*{
    margin: 0;
    padding: 0;

}

body{
    
    background-color: white;
    width: 100%;

}

/******************************************HEADER************************************/

header{
    display: flex;
    width: 100%;
    margin: 0 auto;
    float: left;
    padding: 30px 15px 30px 600px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffaad2' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffa3ce' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ff9dca' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ff96c5' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FF8FC1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f878ad' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ef6498' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e35383' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d5446f' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23C13A5D' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    box-shadow: 0px 0px 15px hotpink;

}

#menu{

    padding:5px
}

ul, li{
display: inline;
list-style: none;  
text-align: center;
text-transform: uppercase;
padding: 15px 10px;
word-spacing: 15px;

}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
    
    
}


.contacto{
    background-color: #C13A5D;
    border-radius: 40px;
    transition: 0.2s;
    padding: 10px 30px 10px 30px;
}

.contacto:hover{
    background-color: rgb(207, 171, 171);
    transition: 0.3s;
    
}


/******************************************FIN DE HEADER******************************/


/******************************************PRESENTACION************************************/


#inicio{

    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.presentacion{
    display: flex;
    flex-direction: column;
    padding: 150px ;
    padding-right: 0;
    padding-top: 200px;
    background-color: white; 
    
}

 .nombre{
    font-size: 95px;
    font-family: 'Bungee Shade', cursive;
    color: #FFB1D6;
    
}

h3{
    font-size: 30px;
    margin-bottom: 5px;
    color: #FF8FC1;
}
p{
    font-size: 20px;
    padding: 15px 0 15px 0;
    color:#C13A5D;
}


.imagen > img{
    display: block;
    justify-content: center;
    padding-bottom: 6rem;
    margin-top: 10rem;
    margin-left: 7rem;
    background-color: white;
    
    
}

.boton{
    background-color:#FF8FC1;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100px;
    padding: 15px 40px;
    border-radius: 30px;
    
}

.boton:hover{
   
    transition: 0.3s;
    color: black;
}
/****************************************** FIN DE PRESENTACION************************************/

/******************************************CONOCIMIENTOS************************************/
.conocimientos{
    padding-top: 1em;
    background-color: white;
    padding: 100px 10px 0px 10px;
    
}

.titulo1{

    text-align: center;
    font-size: 50px;
    padding-bottom: 1rem;

}

.parrafo{
    text-align: center;
    font-size: 1rem;

}

#cajapadre{
    background-color: white;
    width: 100%;


}

.cajas{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    width: 73%;
    margin: 3% auto;
    padding-bottom: 5%;
}

.box1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #C13A5D;
    background-color: rgb(255, 255, 255);
    padding: 60px;
    width: 20%;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1.5%;
   
}
.box1:hover{
    color:gray;
    border: 1px solid grey;
    
}
.rosa{
    color: #C13A5D;
    margin-top: 20px;
}
/******************************************FIN DE CONOCIMIENTOS************************************/

/******************************************FRASE************************************/

#frase{
    text-align: center;
    background-color: #FFB1D6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffaad2' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffa3ce' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ff9dca' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ff96c5' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FF8FC1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f878ad' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ef6498' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e35383' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d5446f' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23C13A5D' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding-top:40px;
    padding-bottom: 40px ;
    
}
.comilla{
    font-size: 80px;
    padding-top: 50px;
    padding: 50px;
    
}

.autor{
    font-size: 35px;
    margin-top: 15px;
}
.comilla h6{
    font-family:'Style Script', cursive;
}
/******************************************FIN DE FRASE************************************/

/******************************************PROYECTOS************************************/
.proyectos{
    
    background-color: white;
    margin: 0 auto;
}

.proyectos > h1{
    font-size: 50px;
    margin: 0 auto;
    

}
.tituloproyectos{
    color:black;
}

.textproyectos{
    margin: 0 auto;
    padding-bottom: 70px;

    
}

#cajapadre2{
    width: 100%;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: white;
    
}

.cajas2{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 5%;
    justify-content: center;
    justify-content: space-between;
}

.caja-1{
    border: 1px solid #C13A5D;
    background-color: white;
    padding: 60px;
    width: 20%;
    height: 150px;
    margin: 1%;
    border-radius: 10px;
    
     
    
} 

.caja-1:hover{
    color:grey;
    border: 1px solid grey;
    align-items: center;
    
    
}

/******************************************FIN DE PROYECTOS************************************/

/******************************************CONTACTAME************************************/
#contactame{

    display: flex;
    text-align: left;
    background-color: white;
    max-width: 100%;
    
}

.iconos-contactame{
    font-size: 25px;
    color: #C13A5D;
    padding: 5px;
    text-align: center;
}


tr:hover .iconos-contactame{
    color: black;
    background-color: hotpink ;
    border-radius: 50%;
    margin: 20px;
}


.socialmedia{
    font-size: 20px;
    margin: 10px;
    color: black;
    
}
.socialmedia:hover{
    color: hotpink;
}


.columna1{
    width: 100%;
    margin:3% auto;
    margin-left: 5%;
    padding: 100px ;
    background-color: white;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;

}
.contactame{
    color: #C13A5D;
    font-size: 45px;
    font-family: 'STIX Two Math', serif;
    
}


/******************************************CONTACTAME************************************/

/**********************************FORMULARIO***********************/

.columna2{
    background-color: white;
    width:100%;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    padding: 60px;   
    margin:3% auto;
    margin-right: 5%;
}

.escribime{
    color: #C13A5D;
    font-size: 45px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'STIX Two Math', serif;
}

label{
    font-size: 20px;

}


.nameandlastname{
    display: flex;
    flex-direction:row;
    
   
}
.nombreformulario .apellidoformulario{
    display: flex;
    flex-direction: column;

}


input[type="text"]{
    
    border-radius: 30px;
    padding: 8px;
    width: 170px;
    border:1px solid #efef;
    background-color: #ededed;
    margin-bottom: 20px;
}

input[type="text"]{
    border-radius: 30px;
    padding: 8px;
    border:1px solid #efef;
    background-color: #ededed;
    margin-bottom: 20px;
}

input[type="email"]{
    border-radius: 30px;
    padding: 8px 8px 8px  8px;
    border:1px solid #efef;
    background-color: #ededed;
    margin-bottom: 20px;
    width: 90%;

}

.mensajes{
    border-radius: 15px;
    padding: 70px;
    width: 250px;
    border:1px solid #efef;
    background-color: #ededed;
    
}
input:focus, textarea:focus{
    box-shadow: 0px 0px 5px hotpink;
    border: 1px solid hotpink;
    
}


/*input[type="submit"]{
    width: 130px;
    padding: 20px;
    border-radius:30px;
    border:1px solid #efef;
    background-color: #C13A5D;
   font-size: 1rem;
}*/

.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 10px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
}



/**********************************FORMULARIO***********************/

/******************************************FOOTER************************************/
footer{
    width: 85%;
    background-color: #FFB1D6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffaad2' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffa3ce' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ff9dca' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ff96c5' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FF8FC1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f878ad' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ef6498' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e35383' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d5446f' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23C13A5D' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 100px ;
    text-align: center;
    

}
.negro:hover{
    color: white;
}

.iconosfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    margin: 10px;
    list-style: none;
}

.iconosfooter > a{
    text-decoration: none;

}

.icon-socialmedia{
    font-size: 35px;
    align-items: center;
    margin: 10px;
    
}
.finfooter{
    color: black;
}


/******************************************FIN DE FOOTER************************************/

@media(max-width: 2323px){
    /*medias por seguir*/
    
}
    
@media (max-width: 1024px){
    header {
        display: none;
    }
    
    .columna1{
        padding-right: 2%;
        margin-left: 5%;
    }
    .columna2{
        padding-right: 0%;
    }

    footer{
        width: 81%;
    }
    

   
} 
@media (max-width: 768px){

    #inicio {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0%;
        padding-top: 0%;
    }

    .boton{
        margin: 0 auto;
    }
    .presentacion{
        
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        padding-top: 10%;
    }
    .presentacion .nombre  {
        font-size: 70px;
    }

    .presentacion h3 {
        font-size: 30px;
    }
    .presentacion p{
        font-size: 16px;
    }
  
    .imagenpresentacion{
        margin: 0 auto;
    }

    #contactame{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
    }

    .columna1 {
        width: 60%;
        
    }

    .columna2{
        width: 50%;
        margin-left: 35px;
        padding-right: 20%;
        
    }
    .escribime{
        text-align: center;
    }

    footer{
        width: 74%;
    }
} 

@media (max-width: 480px){

    .presentacion{
        
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 10px;
        padding-top: 20%;
        
        
    }
    .presentacion .nombre  {
        font-size: 70px;
    }

    .presentacion h3 {
        font-size: 30px;
    }
    .presentacion p{
        font-size: 16px;
    }


   .imagenpresentacion{
       padding-top: 0%;
       margin-top: 0;
       margin: 0 auto;
       width: 330px;
   }
 


   .cajas {
       display: flex;
       flex-direction: column;
       align-items: center;
       
    }


    .cajas2 {
        display: flex;
        flex-direction: column;
       
    }
    .caja-1{
        padding:35%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .caja-1 img{
        display: flex;
        align-items: center;
    }

    #contactame{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: transparent;
    }
    .columna1 .columna2{
        padding: 20%;
    }
    
    .columna1{
        padding-left: 10% ;
    }

    .columna2{
        margin: 5%;
    }
    input[type="text"]{
        width: 90%;

    }
    
    .input-apellidos{
        margin-left: 15%;
    }

    .apellidoformulario > label{
        margin-left: 15%;
    }

    .mensajes{
        width: 50%;
        
    }
    
    footer{
        width: 58%;
    }

    .menufooter{
        display: none;
    }

    .iconosfooter{
        display: block;
        
    }
    

} 
@media (max-width: 320px){

    .imagenpresentacion{
        width: 300px; 
    }

    

   textarea{
       margin-right: 5%;
   }

    .contactame, .escribime{
        font-size: 25px;
    }

    .contactame{
        padding-bottom: 0;
    }
    .escribime{
        margin-top: 0%;
    }

    table tr td{
        font-size: 50px;
    }

footer{
        display: none;
    }
    
}